services:
  web:
    container_name: adasilk-staging_web
    ports:
      - '4734:3000'
    environment:
      - NODE_ENV=production
    volumes:
      - ./.env.staging:/custom/.env
      - ./public:/custom/public
      - ./config:/custom/config
      - ./config.js:/custom/config.js
      - ./theme.js:/custom/theme.js
    command: sh -c "cp -r /custom/. /usr/src/app/ && npm run build && npm start"
    restart: unless-stopped
  mongo:
    container_name: adasilk-staging_mongo
    restart: unless-stopped
  imaginary:
    container_name: adasilk-staging_imaginary
    restart: unless-stopped
  redis:
    container_name: adasilk-staging_redis
    restart: unless-stopped
